//main:style.scss

footer{
  @include shadow();

  left   : calc(50% - 135px) ;
  bottom : 30px;
  z-index: 10  ;
  padding: 10px 5px;
  position  : fixed;
  background: white;
  border-radius: 4pc;
}

.option{
  padding: 0 15px;
  color: $font-color-3;

  &:hover {
    color:$blue-1;
    cursor: pointer;
  }

  &:active{ color:$dark-blue-2 }
}

.option:not(:last-child){
  border-right: 1px solid $border-color-3;
}

.active  { color: $font-color-1 }
