//main:style.scss

.products{
  position: absolute;
  display: flex;
  top: 60px;
  left: calc(50% - 540/2);
  background-color: $semi-black;
  border-radius: 0 0 4px 4px;
  @include size(auto, 540px);
  min-height: 160px;
  @include transition(transform);
  transition-duration: 300ms;
  color:white;
}

.expanded{ transform: translateY(-100%)}


//groups

.app-group{
  margin-bottom: 30px;
  &:first-child{margin-top: 30px;}
  &-collapsed:not(:last-child){
    margin-bottom: 0;
    label svg{ transform: rotate(-90deg)}
  }
  &-gone{
    &:not(:last-child){margin-bottom: 0}
  }
}

.app-group label{
  margin: 0 0 15px 20px;
  display: flex;
  align-items: center;
  color:$dark-grey-3;

  svg{
    @include transition(transform)
    opacity: 0;
    padding: 3px 2px;
    border-radius: 2px;
    margin-left: 5px;
    polyline{ stroke:$font-color-3 }
  }

  &:hover {
    cursor: pointer;
    svg{opacity: 1}
  }
}

//apps

.grid{
  @include grid(33.3%,33.3%,0px);
}

.app{
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  height: 40px;
  padding-left: 20px;
  padding-right: 40px;
  color: $font-color-3;
  &:not(:nth-child(3n)){ border-right: 1px solid $dark-grey-1}
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  kbd{
    border: 1px solid $dark-grey-2;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
    @include size(16px, 16px);
  }
}
.app-selected::after{
  opacity: 0;
  content:'';
  background: url('../images/Mask.svg');
  @include size(7px,4px);
  position: absolute;
  top:15px;
  right: 20px;
}

.app-selected:hover{
  &:after{
      opacity: 1;
  }
}

.clicked{
  background-color: rgba(0,0,0,0.2);
  color: white;
}

// .app::after{
//   content: '';
//   position: absolute;
//   top: 18px;
//   right: 20px;
//   border-radius: 4pc;
//   @include size(6px, 6px);
//   border: 1px solid rgba(255,255,255,0.08);
// }

// .app-selected:after{
//   background-color: $green-1;
//   border-color: transparent;
// }

.app:hover{
  cursor: pointer;
  color:white;
  background: rgba(0,0,0,0.2);
}

.instance-group{
  margin: 10px -20px;
  width: calc(100% + 30px)!important;
  .grid.app::after{
    border:none;
  }
}
