//main:style.scss

.ver2-instance{
  pointer-events: none;
  flex-shrink: 0;
}

.instance-trigger-2{
  width: auto;
  display: none;
  flex-shrink: 0;
}

.fw{
  width: 430px!important;
}

.correction{
  margin-left: -5px;
}

.ver2-prod{
  margin-top: 30px;
  background-color: transparent;
  padding: 0 10px;
  min-height: auto;
}

.ver2-assets{
  background-color: $semi-black;
}

.ver2-grid{
  padding: 0 12px;
  .app{
    margin: 5px;
    justify-content: center;
    border-radius: 4px;
    padding: 20px;
    padding-top: 50px;
    height: 40px;
    text-align: center;
    position: relative;
    border: none;
    background: $semi-black;
  }
  .app:after{
    content:'';
    @include size(20px , 18px);
    background: url('../logos/prism_central.svg');
    opacity: 0.3;
    background-size: contain;
    position: absolute;
    top:30px;
    left: calc(50% - 10px);
  }
}
