header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #22272E;
  padding: 0 20px;
  color: #FFFFFF;
}

header {
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.page-title, .arrow {
  flex-shrink: 0;
  margin-left: 15px;
}

.page-title {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: 600;
}

.arrow {
  background: #37414B;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  border-radius: 50%;
}

.switcher:hover {
  background: #1B2025;
  cursor: pointer;
  border-radius: 4px;
}

.switcher {
  padding: 0 15px;
}

.switcher:active {
  background: rgba(0, 0, 0, 0.4);
}

.user-title {
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  color: #9AA5B5;
  font-weight: 600;
}

.user-title * {
  margin-left: 10px;
}

.user-title polyline {
  transition: stroke 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  stroke: #9AA5B5;
}

.user-title:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.user-title:hover polyline {
  stroke: #FFFFFF;
}

footer {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  left: calc(50% - 135px);
  bottom: 30px;
  z-index: 10;
  padding: 10px 5px;
  position: fixed;
  background: white;
  border-radius: 4pc;
}

.option {
  padding: 0 15px;
  color: #7C8D9F;
}

.option:hover {
  color: #22A5F7;
  cursor: pointer;
}

.option:active {
  color: #1b6dc6;
}

.option:not(:last-child) {
  border-right: 1px solid #F2F4F6;
}

.active {
  color: #22272E;
}

.hamburger {
  height: 14px;
  width: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin-right: 79px;
}

.hamburger:before, .hamburger:after, .hamburger .patty {
  content: '';
  border-radius: 1px;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  background: #627386;
  position: absolute;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
}

.hamburger:before {
  top: 0px;
}

.hamburger:after {
  bottom: 0px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover:before, .hamburger:hover:after, .hamburger:hover .patty {
  background: white;
}

.cross:before {
  transform: rotate(45deg);
  transform-origin: -1.6px 0.85px;
}

.cross:after {
  transform: rotate(-45deg);
  transform-origin: -1.6px 0.85px;
}

.cross .patty {
  opacity: 0;
}

.overlay {
  height: 300%;
  width: 300%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.popup-container {
  background-color: white;
  height: auto;
  width: 500px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
}

.popup-header {
  height: 50px;
  border-bottom: 1px solid #F2F4F6;
  width: 100%;
  margin: -20px;
  width: calc(100% + 40px);
  margin-bottom: 30px;
}

.popup-header img {
  margin-right: 20px;
}

.popup-body {
  margin-top: 0px;
  border-radius: 4px;
  border: 1px solid #D5DAE0;
  width: calc(100%);
  margin-bottom: 10px;
  min-height: 361px;
}

.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.instance-viewer {
  padding: 10px 20px;
  box-sizing: border-box;
}

.instance-viewer:not(:last-child) {
  border-bottom: 1px solid #F2F4F6;
}

.instance-viewer:hover {
  color: #22A5F7;
  cursor: pointer;
}

.instance-viewer img {
  transform: rotate(-90deg);
}

.instance-viewer p {
  margin-bottom: 0;
  margin-top: 0;
}

.instance-viewer h3 {
  margin-bottom: 5px;
}

.close:hover {
  cursor: pointer;
}

.products {
  position: absolute;
  display: flex;
  top: 60px;
  left: calc(50% - 540/2);
  background-color: #1B2025;
  border-radius: 0 0 4px 4px;
  height: auto;
  width: 540px;
  box-sizing: border-box;
  min-height: 160px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
  color: white;
}

.expanded {
  transform: translateY(-100%);
}

.app-group {
  margin-bottom: 30px;
}

.app-group:first-child {
  margin-top: 30px;
}

.app-group-collapsed:not(:last-child) {
  margin-bottom: 0;
}

.app-group-collapsed:not(:last-child) label svg {
  transform: rotate(-90deg);
}

.app-group-gone:not(:last-child) {
  margin-bottom: 0;
}

.app-group label {
  margin: 0 0 15px 20px;
  display: flex;
  align-items: center;
  color: #4D5969;
}

.app-group label svg {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  padding: 3px 2px;
  border-radius: 2px;
  margin-left: 5px;
}

.app-group label svg polyline {
  stroke: #7C8D9F;
}

.app-group label:hover {
  cursor: pointer;
}

.app-group label:hover svg {
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.3%, 33.3%));
  grid-gap: 0px;
}

.app {
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  height: 40px;
  padding-left: 20px;
  padding-right: 40px;
  color: #7C8D9F;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.app:not(:nth-child(3n)) {
  border-right: 1px solid #22272E;
}

.app kbd {
  border: 1px solid #37414B;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
}

.app-selected::after {
  opacity: 0;
  content: '';
  background: url("../images/Mask.svg");
  height: 7px;
  width: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 20px;
}

.app-selected:hover:after {
  opacity: 1;
}

.clicked {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.app:hover {
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.instance-group {
  margin: 10px -20px;
  width: calc(100% + 30px) !important;
}

.instance-group .grid.app::after {
  border: none;
}

.product-detail {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
  min-height: 80px;
}

.pd-gone {
  margin-bottom: 20px !important;
}

button {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  margin-left: 10px;
  height: 32px;
  width: 32px;
}

button:hover {
  color: #22A5F7;
  cursor: pointer;
}

button:active {
  color: #91d2fb;
}

button span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.search, button {
  background-color: #151A1E;
  border: 1px solid #37414B !important;
  margin-bottom: 0 !important;
  color: white !important;
}

.search {
  border-radius: 4px 0 0 4px !important;
  border-right: none !important;
  transform: translateX(15px);
}

.input-collapsed {
  transform: scale3d(0, 1, 1);
}

.instance-trigger {
  padding: 8px 10px;
  padding-right: 15px;
  border-radius: 4px;
  transform: translateX(-5px);
  position: relative;
}

.instance-trigger:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.instance-trigger:hover .project-name {
  transform: translateY(-14px);
}

.instance-trigger:hover::after {
  opacity: 1;
}

.instance-trigger::after {
  opacity: 1;
  content: '';
  background: url("../images/Mask.svg");
  height: 7px;
  width: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 12px;
  right: 10px;
}

.sub-inst {
  background: rgba(0, 0, 0, 0.2);
}

.text h3 {
  line-height: 1.2;
  margin: 0px;
}

.project-name {
  font-size: 12px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.overflow {
  overflow: hidden;
  height: 14px;
}

* {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  background: #F2F4F6;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]), html select {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B8BFCA;
  padding: 11px 10px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  position: relative;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):not(:last-child), html select:not(:last-child) {
  margin-bottom: 20px;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):focus, html select:focus {
  outline: none;
  border-color: #22A5F7;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset])::-webkit-input-placeholder, html select::-webkit-input-placeholder {
  padding-top: 4px;
  vertical-align: middle;
  color: #D5DAE0;
}

html label {
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #627386;
  margin-bottom: 10px;
}

html input[type=submit], html [data-type='primary'] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 500 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

html input[type=submit]:hover, html [data-type='primary']:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[fw] {
  width: 100%;
}

[ac] {
  align-self: center;
}

[alt] {
  color: #627386;
}

[fade] {
  color: #B8BFCA;
}

[primary] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

[primary]:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[primary]:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

[primary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[secondary] {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

[secondary]:hover {
  color: #22A5F7;
  cursor: pointer;
}

[secondary]:active {
  color: #91d2fb;
}

[secondary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[label] {
  background: #f4fbff;
  padding: 2px 5px;
  border-radius: 2px;
  color: #1f88de;
}

[hc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

[hcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

[hsc] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

[hsd] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

[hcd] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

[vcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

[vss] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

[vsc] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

[vc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  height: 1px;
  border: none;
  width: 100%;
  background: #F2F4F6;
}

.ver2-instance {
  pointer-events: none;
  flex-shrink: 0;
}

.instance-trigger-2 {
  width: auto;
  display: none;
  flex-shrink: 0;
}

.fw {
  width: 430px !important;
}

.correction {
  margin-left: -5px;
}

.ver2-prod {
  margin-top: 30px;
  background-color: transparent;
  padding: 0 10px;
  min-height: auto;
}

.ver2-assets {
  background-color: #1B2025;
}

.ver2-grid {
  padding: 0 12px;
}

.ver2-grid .app {
  margin: 5px;
  justify-content: center;
  border-radius: 4px;
  padding: 20px;
  padding-top: 50px;
  height: 40px;
  text-align: center;
  position: relative;
  border: none;
  background: #1B2025;
}

.ver2-grid .app:after {
  content: '';
  height: 20px;
  width: 18px;
  box-sizing: border-box;
  background: url("../logos/prism_central.svg");
  opacity: 0.3;
  background-size: contain;
  position: absolute;
  top: 30px;
  left: calc(50% - 10px);
}

html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}
